.details {
    padding-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh;
    width: 100%;
    margin: 0 auto;
    background-image: url('../groupPhilosophers.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @include respond(tab-land) {
        height: 100vh;
    }



    &__container {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 1rem;
        background-image: radial-gradient(rgba($color-linear-grey-1, .85), rgba($color-linear-grey-2, .85));
        background-size: cover;
        border-radius: 15px;
        box-shadow: 0 2rem 4rem rgba($color-black, .3);

        @include respond(tab-land) {
            width: 60%;
        }

        @include respond(tab-port) {
            width: 80%;
        }
 
        @include respond(phone) {
            width: 95%;
        }
    }
    &__label {
        font-size: 2rem;
        font-weight: bolder;
        color: $color-white;
        margin-bottom: 0.5rem;
        display: block;
    }

    &__input,
    &__textarea {
        padding:1rem;
        margin: auto;
        margin-bottom: 1rem;
        border-radius: 5px;
        background-color: $color-white;
    }

    &__input {
        width: 80%;
        font-size: 1.2rem;

        @include respond(tab-medium) {
            font-size: 1.45rem;
            width: 90%;
        }

        @include respond(tab-port) {
            font-size: 1.6rem
        }



        &--hashtag {
            width: 14rem;

            @include respond(tab-medium) {
                width: 16rem;
            }

            @include respond(tab-port) {
                width: 19rem;
            }
        }

        &--time {
            width: 13rem;

            @include respond(tab-port) {
                width: 18rem;
            }
        }
    }

    &__textarea {
        width: 90%;
        height: 11rem;
        font-size: 1.4rem;
        resize: none;

        @include respond(tab-medium) {
            font-size: 1.7rem;
            height: 12.5rem;
        }

        @include respond(tab-port) {
            font-size: 1.8rem;
            height: 14rem;
        }

        @include respond(tab-small) {
            font-size: 2rem;
            height: 22rem;
        }

        @include respond(phone) {
            font-size: 2.2rem;
            height: 28rem;
        }

    }

    &__hashtagsBox {
        display: flex;
        flex-direction: row;
        justify-content: space-around;   
        margin-bottom: 1rem;
        
        @include respond(tab-small) {
            flex-direction: column;
            align-items: center;
            row-gap: 1rem;
        }
    }

    &__hashtag {
        display: flex;
        flex-direction: row;

        
        & > * {
            margin: 0 0.5rem;
            align-self: center;
            justify-content: center;
        }
    }
}