.details {
    padding-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh;
    width: 100%;
    margin: 0 auto;
    background-image: url('../groupPhilosophers.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @include respond(tab-land) {
        height: 100vh;
    }



    &__container {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 1rem;
        background-image: radial-gradient(rgba($color-linear-grey-1, .85), rgba($color-linear-grey-2, .85));
        background-size: cover;
        border-radius: 15px;
        box-shadow: 0 2rem 4rem rgba($color-black, .3);

        @include respond(tab-land) {
            width: 60%;
        }

        @include respond(tab-port) {
            width: 80%;
        }
 
        @include respond(phone) {
            width: 95%;
        }
    }
}