.auth {
    display: flex;
    flex-direction: column;
    height: 90vh;

    @include respond(tab-land) {
        height: 100vh;
        background-size: bottom;
    }

    &__container {
        width: 40rem;
        margin: auto;
        margin-top: 8rem;
        text-align: center;
        padding: 2rem;
        background-image: linear-gradient(to bottom right, rgba($color-linear-grey-1, .9), rgba($color-linear-grey-2, .9));
        border-radius: 1rem;
        box-shadow: 0rem 2rem 4rem rgba($color-black, .4);

        @include respond(tab-medium) {
            margin-top: 10rem;
        }
    }
    

    &__form {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        margin-bottom: 1rem;

        @include respond(tab-land) {
            row-gap: 3rem;
            align-items: space-around;
        }

        @include respond(phone) {
            row-gap: 5rem;
        }
    }

    
}