.message {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35rem;
    height: 15rem;
    background-color: $color-grey-light;
    border-radius: 1rem;
    color: $color-present;
    text-align: center;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.4);
    z-index: 1000;

    &__text {
        padding: 2rem;
        font-size: 1.5rem;
        font-weight: bold;
    }
}