// COLORS

$color-white: #fff;
$color-present: #f05a22;
$color-black: #000;
$color-grey-dark: #777;
$color-royalblue: #4169e1;

$color-linear-1: #27f8e7;
$color-linear-2: #075b7c;

$color-linear-grey-1: #bdc3c7;
$color-linear-grey-2: #2c3e50;

$color-linear-thought-1: #fe8c00;
$color-linear-thought-2: #f83600;

$color-yellowgreen: #cc0000;


//FONTS
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

//FONT SIZE

$default-font-size: 1.6rem;