.searchbar {
    &__container {
        width: 30rem;
        margin-right: .7rem;
        text-align: center;

    }

    &__input {
        padding: .5rem;
        border-radius: 1rem;
        width: 90%;
        transition: all .2s ease-in-out;

        &:focus {
            width: 100%;
        }
    }

}